<html ng-app="myApp">
<head>
</head>

<body ng-controller="MyCtrl">
Hello World
<table>
<tr>
<th>Sl no</th>
<th>Name</th>
<th>Price</th>
<th>Action</th>
</tr>
<tr ng-repeat="item in mobile">
<td>{{$index+1}}</td>
<td>{{item.name}}</td>
<td>{{item.price}}</td>
<td><button type="button" ng-click="edit($index)">EDIT</button>&nbsp;&nbsp;<button type="button" ng-click="del($index)">Del</button></td>
</tr>
</table>
<input type="hidden" ng-model="objectIndex"><br><br>
Add New
Name : <input type="text" ng-model="p.name"><br>
Price : <input type="text" ng-model="p.price"><br>
<button type="button" ng-click="save(p)">SAVE</button>
<script src="js/angular/angular.js"></script>
<script>

//create a module
var app = angular.module("myApp",[]);

//create a controller
app.controller("MyCtrl",["$scope",function($scope){
	
	$scope.mobile = [
			{
				name : 'Nokia',
				price : 2000
			},
			{
				name : 'Samsung',
				price : 3500
			},
			{
				name : 'Moto',
				price : 2340
			}
	]
	
	$scope.edit = function(id){
		$scope.objectIndex = id;
		console.log(id);
		$scope.p = $scope.mobile[id];
	}
	
	$scope.save = function(p) {
		
		if($scope.mobile[$scope.objectIndex] === null) {
		    
			 console.log("newElement");
			 $scope.mobile.push(p);
			 }
		else {
		
			 console.log("updateElement");
		   $scope.mobile[$scope.objectIndex] = p;
		}
	}
	
	$scope.del = function(d){
		$scope.mobile.splice(d,1);
	}
}]);

</script>
</body>
</html>